<section class="section-cover section">
  <h2 class="visually-hidden">Covers section</h2>
  <div class="content container">
    <div class="marquee">
      <ul class="marquee__inner">
        <li class="marquee__line">
          <picture class="marque__picture">
            <source
              srcset="
                ./img/cover/card-1@1x.webp 1x,
                ./img/cover/card-1@2x.webp 2x
              " />
            <img
              class="marquee__line"
              src="./img/cover/card-1@1x.webp"
              alt="card-1"
          /></picture>
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-2@1x.webp"
            alt="card-2"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-3@1x.webp"
            alt="card-3"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-4@1x.webp"
            alt="card-4"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-5@1x.webp"
            alt="card-5"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-6@1x.webp"
            alt="card-6"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-7@1x.webp"
            alt="card-7"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-8@1x.webp"
            alt="card-8"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-9@1x.webp"
            alt="card-9"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-10@1x.webp"
            alt="card-10"
          />
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-6@1x.webp"
            alt="card-6"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-9@1x.webp"
            alt="card-9"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-8@1x.webp"
            alt="card-8"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-10@1x.webp"
            alt="card-10"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-7@1x.webp"
            alt="card-7"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-5@1x.webp"
            alt="card-5"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-4@1x.webp"
            alt="card-4"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-3@1x.webp"
            alt="card-3"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-2@1x.webp"
            alt="card-2"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-1@1x.webp"
            alt="card-1"
          />
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-7@1x.webp"
            alt="card-7"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-3@1x.webp"
            alt="card-3"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-5@1x.webp"
            alt="card-5"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-1@1x.webp"
            alt="card-1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-6@1x.webp"
            alt="card-6"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-2@1x.webp"
            alt="card-2"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-4@1x.webp"
            alt="card-4"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-10@1x.webp"
            alt="card-10"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-8@1x.webp"
            alt="card-8"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-9@1x.webp"
            alt="card-9"
          />
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-1@1x.webp"
            alt="card-1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-2@1x.webp"
            alt="card-2"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-3@1x.webp"
            alt="card-3"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-4@1x.webp"
            alt="card-4"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-5@1x.webp"
            alt="card-5"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-6@1x.webp"
            alt="card-6"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-7@1x.webp"
            alt="card-7"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-8@1x.webp"
            alt="card-8"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-9@1x.webp"
            alt="card-9"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-10@1x.webp"
            alt="card-10"
          />
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-1@1x.webp"
            alt="card-1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-2@1x.webp"
            alt="card-2"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-3@1x.webp"
            alt="card-3"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-4@1x.webp"
            alt="card-4"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-5@1x.webp"
            alt="card-5"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-6@1x.webp"
            alt="card-6"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-7@1x.webp"
            alt="card-7"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-8@1x.webp"
            alt="card-8"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-9@1x.webp"
            alt="card-9"
          />
        </li>
        <li class="marquee__line">
          <img
            class="marquee__line"
            src="./img/cover/card-10@1x.webp"
            alt="card-10"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
