<section class="section-cover section">
  <img
                class="basic-img"
                src="../img/cover/card-1@1x.webp"
                alt="Card-1"
                width="282"
                height="162"
                loading="lazy"
              />
  <img
                class="basic-img"
                src="./img/cover/card-10@1x.webp"
                alt="Card-1"
                width="282"
                height="162"
                loading="lazy"
              />
  <h2 class="visually-hidden">Covers</h2>
  <div class="container cover-container">
    <div class="content">
      <div class="marquee">
        <ul class="marquee-inner">
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ../img/cover/card-1@1x.webp 1x,
                  ../img/cover/card-1@2x.webp 2x
                "
                media="(min-width: 768px)"
                loading="lazy"
              />
              <source
                src
                srcset="
                  ../img/cover/card-1@1x.webp 1x,
                  ../img/cover/card-1@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-1@1x.webp 1x, ./img/cover/card-1@2x.webp 2x"
                src="../img/cover/card-1@1x.webp"
                alt="Card-1"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ../img/cover/card-2@1x.webp 1x,
                  ../img/cover/card-2@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ../img/cover/card-2@1x.webp 1x,
                  ../img/cover/card-2@2x.webp 2x
                "
                media="(max-width: 767px)"
                loading="lazy"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-2@1x.webp 1x, ./img/cover/card-2@2x.webp 2x"
                src="../img/cover/card-2@1x.webp"
                alt="Card-2"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ../img/cover/card-3@1x.webp 1x,
                  ../img/cover/card-3@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ../img/cover/card-3@1x.webp 1x,
                  ../img/cover/card-3@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-3@1x.webp 1x, ./img/cover/card-3@2x.webp 2x"
                src="../img/cover/card-3@1x.webp"
                alt="Card-3"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-4@1x.webp 1x,
                  ./img/cover/card-4@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-4@1x.webp 1x,
                  ./img/cover/card-4@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-4@1x.webp 1x, ./img/cover/card-4@2x.webp 2x"
                src="./img/cover/card-4@1x.webp"
                alt="Card-4"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-5@1x.webp 1x,
                  ./img/cover/card-5@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-5@1x.webp 1x,
                  ./img/cover/card-5@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-5@1x.webp 1x, ./img/cover/card-5@2x.webp 2x"
                src="./img/cover/card-4@1x.webp"
                alt="Card-5"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-6@1x.webp 1x,
                  ./img/cover/card-6@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/cover/card-6@1x.webp 1x,
                  ./img/cover/card-6@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-6@1x.webp 1x, ./img/cover/card-6@2x.webp 2x"
                src="./img/cover/card-5@1x.webp"
                alt="Card-6"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-7@1x.webp 1x,
                  ./img/cover/card-7@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-7@1x.webp 1x,
                  ./img/cover/card-7@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-7@1x.webp 1x, ./img/cover/card-7@2x.webp 2x"
                src="./img/cover/card-5@1x.webp"
                alt="Card-7"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-8@1x.webp 1x,
                  ./img/cover/card-8@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-8@1x.webp 1x,
                  ./img/cover/card-8@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-8@1x.webp 1x, ./img/cover/card-8@2x.webp 2x"
                src="./img/cover/card-5@1x.webp"
                alt="Card-8"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-9@1x.webp 1x,
                  ./img/cover/card-9@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-9@1x.webp 1x,
                  ./img/cover/card-9@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-9@1x.webp 1x, ./img/cover/card-9@2x.webp 2x"
                src="./img/cover/card-5@1x.webp"
                alt="Card-9"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-10@1x.webp 1x,
                  ./img/cover/card-10@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-10@1x.webp 1x,
                  ./img/cover/card-10@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-10@1x.webp 1x, ./img/cover/card-10@2x.webp 2x"
                src="./img/cover/card-5@1x.webp"
                alt="Card-10"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-10@1x.webp 1x,
                  ./img/cover/card-10@2x.webp 2x
                "
                media="(min-width: 768px)"
                loading="lazy"
              />
              <source
                src
                srcset="
                  ./img/cover/card-10@1x.webp 1x,
                  ./img/cover/card-10@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-10@1x.webp 1x, ./img/cover/card-10@2x.webp 2x"
                src="./img/cover/card-10@1x.webp"
                alt="Card-10"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-9@1x.webp 1x,
                  ./img/cover/card-9@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-9@1x.webp 1x,
                  ./img/cover/card-9@2x.webp 2x
                "
                media="(max-width: 767px)"
                loading="lazy"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-9@1x.webp 1x, ./img/cover/card-9@2x.webp 2x"
                src="./img/cover/card-9@1x.webp"
                alt="Card-9"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/Card-8@1x.webp 1x,
                  ./img/cover/card-8@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-8@1x.webp 1x,
                  ./img/cover/card-8@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-8@1x.webp 1x, ./img/cover/card-8@2x.webp 2x"
                src="./img/cover/card-8@1x.webp"
                alt="Card-8"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-7@1x.webp 1x,
                  ./img/cover/card-7@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-7@1x.webp 1x,
                  ./img/cover/card-7@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-7@1x.webp 1x, ./img/cover/card-7@2x.webp 2x"
                src="../img/cover/card-7@1x.webp"
                alt="Card-7"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-6@1x.webp 1x,
                  ./img/cover/card-6@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-6@1x.webp 1x,
                  ./img/cover/card-6@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-6@1x.webp 1x, ./img/cover/card-6@2x.webp 2x"
                src="./img/cover/card-6@1x.webp"
                alt="Card-6"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-5@1x.webp 1x,
                  ./img/cover/card-5@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/cover/card-5@1x.webp 1x,
                  ./img/cover/card-5@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-5@1x.webp 1x, ./img/cover/card-5@2x.webp 2x"
                src="./img/cover/card-5@1x.webp"
                alt="Card-5"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-4@1x.webp 1x,
                  ./img/cover/card-4@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-4@1x.webp 1x,
                  ./img/cover/card-4@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-4@1x.webp 1x, ./img/cover/card-4@2x.webp 2x"
                src="./img/cover/card-5@1x.webp"
                alt="Card-4"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-3@1x.webp 1x,
                  ./img/cover/card-3@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-3@1x.webp 1x,
                  ./img/cover/card-3@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-3@1x.webp 1x, ./img/cover/card-3@2x.webp 2x"
                src="./img/cover/card-2@1x.webp"
                alt="Card-3"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-2@1x.webp 1x,
                  ./img/cover/card-2@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-2@1x.webp 1x,
                  ./img/cover/card-2@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-2@1x.webp 1x, ./img/cover/card-2@2x.webp 2x"
                src="../img/cover/card-2@1x.webp"
                alt="Card-2"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-1@1x.webp 1x,
                  ./img/cover/card-1@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-1@1x.webp 1x,
                  ./img/cover/card-1@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-1@1x.webp 1x, ./img/cover/card-1@2x.webp 2x"
                src="./img/cover/card-1@1x.webp"
                alt="Card-1"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-1@1x.webp 1x,
                  ./img/cover/card-1@2x.webp 2x
                "
                media="(min-width: 768px)"
                loading="lazy"
              />
              <source
                src
                srcset="
                  ./img/cover/card-1@1x.webp 1x,
                  ./img/cover/card-1@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-1@1x.webp 1x, ./img/cover/card-1@2x.webp 2x"
                src="./img/cover/card-1@1x.webp"
                alt="Card-1"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-2@1x.webp 1x,
                  ./img/cover/card-2@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-2@1x.webp 1x,
                  ./img/cover/card-2@2x.webp 2x
                "
                media="(max-width: 767px)"
                loading="lazy"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-2@1x.webp 1x, ./img/cover/card-2@2x.webp 2x"
                src="./img/cover/card-2@1x.webp"
                alt="Card-2"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-3@1x.webp 1x,
                  ./img/cover/card-3@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-3@1x.webp 1x,
                  ./img/cover/card-3@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-3@1x.webp 1x, ./img/cover/card-3@2x.webp 2x"
                src="./img/cover/card-3@1x.webp"
                alt="Card-3"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-4@1x.webp 1x,
                  ./img/cover/card-4@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-4@1x.webp 1x,
                  ./img/cover/card-4@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-4@1x.webp 1x, ./img/cover/card-4@2x.webp 2x"
                src="./img/cover/card-4@1x.webp"
                alt="Card-4"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-5@1x.webp 1x,
                  ./img/cover/card-5@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-5@1x.webp 1x,
                  ./img/cover/card-5@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-5@1x.webp 1x, ./img/cover/card-5@2x.webp 2x"
                src="./img/cover/card-4@1x.webp"
                alt="Card-5"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-6@1x.webp 1x,
                  ./img/cover/card-6@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/cover/card-6@1x.webp 1x,
                  ./img/cover/card-6@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-6@1x.webp 1x, ./img/cover/card-6@2x.webp 2x"
                src="./img/cover/card-5@1x.webp"
                alt="Card-6"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-7@1x.webp 1x,
                  ./img/cover/card-7@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-7@1x.webp 1x,
                  ./img/cover/card-7@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-7@1x.webp 1x, ./img/cover/card-7@2x.webp 2x"
                src="./img/cover/card-5@1x.webp"
                alt="Card-7"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-8@1x.webp 1x,
                  ./img/cover/card-8@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-8@1x.webp 1x,
                  ./img/cover/card-8@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-8@1x.webp 1x, ./img/cover/card-8@2x.webp 2x"
                src="./img/cover/card-5@1x.webp"
                alt="Card-8"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-9@1x.webp 1x,
                  ./img/cover/card-9@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-9@1x.webp 1x,
                  ./img/cover/card-9@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-9@1x.webp 1x, ./img/cover/card-9@2x.webp 2x"
                src="./img/cover/card-5@1x.webp"
                alt="Card-9"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-10@1x.webp 1x,
                  ./img/cover/card-10@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-10@1x.webp 1x,
                  ./img/cover/card-10@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-10@1x.webp 1x, ./img/cover/card-10@2x.webp 2x"
                src="./img/cover/card-5@1x.webp"
                alt="Card-10"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-10@1x.webp 1x,
                  ./img/cover/card-10@2x.webp 2x
                "
                media="(min-width: 768px)"
                loading="lazy"
              />
              <source
                src
                srcset="
                  ./img/cover/card-10@1x.webp 1x,
                  ./img/cover/card-10@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-10@1x.webp 1x, ./img/cover/card-10@2x.webp 2x"
                src="./img/cover/card-10@1x.webp"
                alt="Card-10"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-9@1x.webp 1x,
                  ./img/cover/card-9@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-9@1x.webp 1x,
                  ./img/cover/card-9@2x.webp 2x
                "
                media="(max-width: 767px)"
                loading="lazy"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-9@1x.webp 1x, ./img/cover/card-9@2x.webp 2x"
                src="./img/cover/card-9@1x.webp"
                alt="Card-9"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/Card-8@1x.webp 1x,
                  ./img/cover/card-8@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-8@1x.webp 1x,
                  ./img/cover/card-8@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-8@1x.webp 1x, ./img/cover/card-8@2x.webp 2x"
                src="./img/cover/card-8@1x.webp"
                alt="Card-8"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-7@1x.webp 1x,
                  ./img/cover/card-7@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-7@1x.webp 1x,
                  ./img/cover/card-7@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-7@1x.webp 1x, ./img/cover/card-7@2x.webp 2x"
                src="../img/cover/card-7@1x.webp"
                alt="Card-7"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-6@1x.webp 1x,
                  ./img/cover/card-6@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-6@1x.webp 1x,
                  ./img/cover/card-6@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-6@1x.webp 1x, ./img/cover/card-6@2x.webp 2x"
                src="./img/cover/card-6@1x.webp"
                alt="Card-6"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-5@1x.webp 1x,
                  ./img/cover/card-5@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/cover/card-5@1x.webp 1x,
                  ./img/cover/card-5@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-5@1x.webp 1x, ./img/cover/card-5@2x.webp 2x"
                src="./img/cover/card-5@1x.webp"
                alt="Card-5"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-4@1x.webp 1x,
                  ./img/cover/card-4@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-4@1x.webp 1x,
                  ./img/cover/card-4@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-4@1x.webp 1x, ./img/cover/card-4@2x.webp 2x"
                src="./img/cover/card-5@1x.webp"
                alt="Card-4"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-3@1x.webp 1x,
                  ./img/cover/card-3@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-3@1x.webp 1x,
                  ./img/cover/card-3@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-3@1x.webp 1x, ./img/cover/card-3@2x.webp 2x"
                src="./img/cover/card-2@1x.webp"
                alt="Card-3"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-2@1x.webp 1x,
                  ./img/cover/card-2@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-2@1x.webp 1x,
                  ./img/cover/card-2@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-2@1x.webp 1x, ./img/cover/card-2@2x.webp 2x"
                src="../img/cover/card-2@1x.webp"
                alt="Card-2"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-1@1x.webp 1x,
                  ./img/cover/card-1@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-1@1x.webp 1x,
                  ./img/cover/card-1@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-1@1x.webp 1x, ./img/cover/card-1@2x.webp 2x"
                src="./img/cover/card-1@1x.webp"
                alt="Card-1"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-1@1x.webp 1x,
                  ./img/cover/card-1@2x.webp 2x
                "
                media="(min-width: 768px)"
                loading="lazy"
              />
              <source
                src
                srcset="
                  ./img/cover/card-1@1x.webp 1x,
                  ./img/cover/card-1@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-1@1x.webp 1x, ./img/cover/card-1@2x.webp 2x"
                src="./img/cover/card-1@1x.webp"
                alt="Card-1"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-2@1x.webp 1x,
                  ./img/cover/card-2@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-2@1x.webp 1x,
                  ./img/cover/card-2@2x.webp 2x
                "
                media="(max-width: 767px)"
                loading="lazy"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-2@1x.webp 1x, ./img/cover/card-2@2x.webp 2x"
                src="./img/cover/card-2@1x.webp"
                alt="Card-2"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-3@1x.webp 1x,
                  ./img/cover/card-3@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-3@1x.webp 1x,
                  ./img/cover/card-3@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-3@1x.webp 1x, ./img/cover/card-3@2x.webp 2x"
                src="./img/cover/card-3@1x.webp"
                alt="Card-3"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-4@1x.webp 1x,
                  ./img/cover/card-4@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-4@1x.webp 1x,
                  ./img/cover/card-4@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-4@1x.webp 1x, ./img/cover/card-4@2x.webp 2x"
                src="./img/cover/card-4@1x.webp"
                alt="Card-4"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-5@1x.webp 1x,
                  ./img/cover/card-5@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-5@1x.webp 1x,
                  ./img/cover/card-5@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-5@1x.webp 1x, ./img/cover/card-5@2x.webp 2x"
                src="./img/cover/card-4@1x.webp"
                alt="Card-5"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-6@1x.webp 1x,
                  ./img/cover/card-6@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/cover/card-6@1x.webp 1x,
                  ./img/cover/card-6@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-6@1x.webp 1x, ./img/cover/card-6@2x.webp 2x"
                src="./img/cover/card-5@1x.webp"
                alt="Card-6"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-7@1x.webp 1x,
                  ./img/cover/card-7@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-7@1x.webp 1x,
                  ./img/cover/card-7@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-7@1x.webp 1x, ./img/cover/card-7@2x.webp 2x"
                src="./img/cover/card-5@1x.webp"
                alt="Card-7"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-8@1x.webp 1x,
                  ./img/cover/card-8@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-8@1x.webp 1x,
                  ./img/cover/card-8@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-8@1x.webp 1x, ./img/cover/card-8@2x.webp 2x"
                src="./img/cover/card-5@1x.webp"
                alt="Card-8"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-9@1x.webp 1x,
                  ./img/cover/card-9@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-9@1x.webp 1x,
                  ./img/cover/card-9@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-9@1x.webp 1x, ./img/cover/card-9@2x.webp 2x"
                src="./img/cover/card-5@1x.webp"
                alt="Card-9"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/cover/card-10@1x.webp 1x,
                  ./img/cover/card-10@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                src
                srcset="
                  ./img/cover/card-10@1x.webp 1x,
                  ./img/cover/card-10@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="basic-img"
                data-srcset="./img/cover/card-10@1x.webp 1x, ./img/cover/card-10@2x.webp 2x"
                src="./img/cover/card-5@1x.webp"
                alt="Card-10"
                width="282"
                height="162"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
