<section class="section">
<div class="container">
    <h2 class="section-title">FAQ</h2>
    <div class="container-first">
      <div class="ac ac-column1" id="ac-1">
        <h2 class="ac-header" id="ac-header">
          <button type="button" class="ac-trigger" id="ac-trigger">
            What programming languages ​​are most often used in your project?
            <svg class="ac-icon" height="20" width="20">
              <use href="./img/icons.svg#icon-accordion"></use>
            </svg>
          </button>
        </h2>
        <div class="ac-panel" id="ac-panel">
          <p class="ac-text" id="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </div>

      <div class="ac ac-column2" id="ac-2">
        <h2 class="ac-header" id="ac-header">
          <button type="button" class="ac-trigger" id="ac-trigger">
            How can I contact you?
            <svg class="ac-icon" height="20" width="20">
              <use href="./img/icons.svg#icon-accordion"></use>
            </svg>
          </button>
        </h2>
        <div class="ac-panel" id="ac-panel">
          <p class="ac-text" id="ac-text">
            In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </div>

        <div class="ac ac-column1" id="ac-3">
        <h2 class="ac-header" id="ac-header">
          <button type="button" class="ac-trigger" id="ac-trigger">
            What are the deadlines for the project?
            <svg class="ac-icon" height="20" width="20">
              <use href="./img/icons.svg#icon-accordion"></use>
            </svg>
          </button>
        </h2>
        <div class="ac-panel" id="ac-panel">
          <p class="ac-text" id="ac-text">
            The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.
          </p>
        </div>
      </div>

      <div class="ac ac-column2" id="ac-4">
        <h2 class="ac-header" id="ac-header">
          <button type="button" class="ac-trigger" id="ac-trigger">
            Do you provide advice or support?
            <svg class="ac-icon" height="20" width="20">
              <use href="./img/icons.svg#icon-accordion"></use>
            </svg>
          </button>
        </h2>
        <div class="ac-panel" id="ac-panel">
          <p class="ac-text" id="ac-text">
           The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.
          </p>
        </div>
      </div>

      <div class="ac ac-column1" id="ac-5">
        <h2 class="ac-header" id="ac-header">
          <button type="button" class="ac-trigger" id="ac-trigger">
            What payment methods do you accept?
            <svg class="ac-icon" height="20" width="20">
              <use href="./img/icons.svg#icon-accordion"></use>
            </svg>
          </button>
        </h2>
        <div class="ac-panel" id="ac-panel">
          <p class="ac-text" id="ac-text">
            Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </div>

      <div class="ac ac-column2" id="ac-6">
        <h2 class="ac-header" id="ac-header">
          <button type="button" class="ac-trigger" id="ac-trigger">
            What does the process of developing a software product look like
            from idea to implementation?
            <svg class="ac-icon" height="20" width="20">
              <use href="./img/icons.svg#icon-accordion"></use>
            </svg>
          </button>
        </h2>
        <div class="ac-panel" id="ac-panel">
          <p class="ac-text" id="ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
    </div>
</div>
</section>
