<header class="header-div">
  <div class="container header-container">
    <div class="logo-div">
      <picture class="header-pic">
        <source
          srcset="
            ./img/header/header-logo.webp    1x,
            ./img/header/header-logo@2x.webp 2x
          "
        />
        <img src="./img/header/header-logo.webp" alt="logo-image" />
      </picture>
      <p class="logo-sign">jefferson*</p>
    </div>
    <button type="button" class="header-menubtn">Menu</button>
    <div class="header-menu header-hidden">
      <ul>
        <li>
          <a href="">About me</a>
        </li>
        <li>
          <a href="">Benefits</a>
        </li>
        <li>
          <a href="">Projects</a>
        </li>
        <li>
          <a href="">FAQ</a>
        </li>
      </ul>
    </div>
    <a href="" class="order-button">Order the project</a>
  </div>
</header>
