<header class="header-div">
  <div class="container header-container section">
    <div class="logo-div">
      <picture class="header-pic">
        <source
          srcset="
            ./img/header/header-logo.webp    1x,
            ./img/header/header-logo@2x.webp 2x
          "
        />
        <img src="./img/header/header-logo.webp" alt="logo-image" />
      </picture>
      <p class="logo-sign">jefferson*</p>
    </div>
    <button type="button" class="header-menubtn">Menu</button>
    <div class="header-menu header-hidden">
      <ul class="header-menu-list">
        <li>
          <a href="" class="header-menulist-item">About me</a>
        </li>
        <li>
          <a href="" class="header-menulist-item">Benefits</a>
        </li>
        <li>
          <a href="" class="header-menulist-item">Projects</a>
        </li>
        <li>
          <a href="" class="header-menulist-item">FAQ</a>
        </li>
      </ul>
    </div>
    <div class="header-mob-menubtn">
      <svg class="header-menu-icon" width="28" height="28">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </div>
    <div class="header-mob-menu header-mob-hidden">
      <svg class="header-close-icon" width="28" height="28">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
      <ul class="header-mobmenu-list">
        <li class="header-mobmenu-listitem">
          <a href="#about">About me</a>
        </li>
        <li class="header-mobmenu-listitem">
          <a href="">Benefits</a>
        </li>
        <li class="header-mobmenu-listitem">
          <a href="">Projects</a>
        </li>
        <li class="header-mobmenu-listitem">
          <a href="">FAQ</a>
        </li>
      </ul>
      <a href="" class="header-mob-order-button">Order the project</a>
    </div>
    <a href="" class="header-order-button">Order the project</a>
  </div>
</header>
