<section class="section-own">
  <div class="hero-container container">
    <h1 class="hero-title">
      HELLO.<br />I'M FULLSTACK DEVELOPER<br />LLOYD JEFFERSON.
    </h1>
    <ul class="social-list">
      <li>
        <a
          href="https://www.instagram.com/goitclub/"
          class="social-link-hero"
          target="blank"
        >
          IG
        </a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/c/GoIT"
          class="social-link-hero"
          target="blank"
        >
          YT
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/goITclub/"
          class="social-link-hero"
          target="blank"
        >
          FB
        </a>
      </li>
      <li>
        <a
          href="https://github.com/1Rendes/Project-SuperScript"
          class="social-link-hero"
          target="blank"
        >
          GH
        </a>
      </li>
      <li>
        <a
          href="mailto:lloydjefferson@gmail.com"
          class="social-link-hero email"
        >
          lloydjefferson@gmail.com
        </a>
      </li>
    </ul>
  </div>
</section>
