<section class="section">
    <div class="hero-container container">
        <h1 class="hero-title">HELLO.<br>I'M FULLSTACK DEVELOPER<br>LLOYD JEFFERSON.</h1>
        <ul class="social-list">
            <li>
                <a href="https://www.instagram.com" class="social-link-hero">
                    IG
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com" class="social-link-hero" width="37px" height="37px">
                    YT
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" class="social-link-hero" width="37px" height="37px">
                    FB
                </a>
            </li>
            <li>
                <a href="https://www.github.com" class="social-link-hero">
                    GH
                </a>
            </li>
            <li>
                <a href="" class="social-link-hero">
                    lloydjefferson@gmail.com
                </a>
            </li>
        </ul>
    </div>
</section>