<section class="section-own">
  <div class="background-div">
    <div class="hero-container container">
      <h1 class="hero-title">
        HELLO.<br />I'M FULLSTACK DEVELOPER<br />LLOYD JEFFERSON.
      </h1>
      <ul class="social-list">
        <li>
          <a
            class="social-link-hero"
            href="https://www.instagram.com/goitclub/"
            target="blank"
          >
            IG
          </a>
        </li>
        <li>
          <a
            class="social-link-hero"
            href="https://www.youtube.com/c/GoIT"
            target="blank"
          >
            YT
          </a>
        </li>
        <li>
          <a
            class="social-link-hero"
            href="https://www.facebook.com/goITclub/"
            target="blank"
          >
            FB
          </a>
        </li>
        <li>
          <a
            class="social-link-hero"
            href="https://github.com/1Rendes/Project-SuperScript"
            target="blank"
          >
            GH
          </a>
        </li>
        <li>
          <a
            class="social-link-hero email"
            href="mailto:lloydjefferson@gmail.com"
          >
            lloydjefferson@gmail.com
          </a>
        </li>
      </ul>
      <div class="navigation-colors social-list">
        <div class="box-colors" data-color="red"></div>
        <div class="box-colors" data-color="green"></div>
        <div class="box-colors" data-color="blue"></div>
        <div class="box-colors" data-color="coral"></div>
        <div class="box-colors" data-color="slate"></div>
        <div class="box-colors" data-color="orange"></div>
      </div>
    </div>
  </div>
</section>
