<section class="section">
  <div class="container">
    <h2 class="title">projects</h2>
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="text-box">
            <ul class="hashtag-list">
              <li class="hashtag">#react</li>
              <li class="hashtag">#js</li>
              <li class="hashtag">#node js</li>
              <li class="hashtag">#git</li>
            </ul>
            <h3 class="subtitle">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a class="project-link" href="#" target="_blank">See project</a>
          </div>
          <div class="project-image">
            <div></div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="text-box">
            <ul class="hashtag-list">
              <li class="hashtag">#react</li>
              <li class="hashtag">#js</li>
              <li class="hashtag">#node js</li>
              <li class="hashtag">#git</li>
            </ul>
            <h3 class="subtitle">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a class="project-link" href="https://1rendes.github.io/Project-SuperScript/" target="_blank">See project</a>
          </div>
          <div class="project-image">
            <div></div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="text-box">
            <ul class="hashtag-list">
              <li class="hashtag">#react</li>
              <li class="hashtag">#js</li>
              <li class="hashtag">#node js</li>
              <li class="hashtag">#git</li>
            </ul>
            <h3 class="subtitle">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a class="project-link" href="#" target="_blank">See project</a>
          </div>
          <div class="project-image">
            <div></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
