<section class="reviews-section section">
    <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="reviews-box swiper">
        <ul class="reviews-list swiper-wrapper"></ul>
    </div>
    <div class="review-buttons">
            <button class="prev-slide" type="button" aria-label="Previous Slide">
                <svg class="reviews-icon" width="24" height="24">
                    <use href="./img/icons.svg#arrow-left"></use>
                </svg>
            </button>   
                <button class="next-slide" type="button" aria-label="Next Slide">
                    <svg class="reviews-icon" width="24" height="24">
                        <use href="./img/icons.svg#arrow-right"></use>
                    </svg>
                </button>
    </div>
</div>
</section>
