.about-section {
}
.section {
}
.about-container {
  color: #fafafa;
  line-height: 1.5;
}
.container {
}
.about-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 32px;
}

.about-us-text-box {
  border-radius: 24px;
  padding: 32px;
  background: #242527;
}

.about-main-text {
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.about-red-text-span {
  color: rgba(237, 59, 68);
}
.about-grey-text-span {
  color: rgba(250, 250, 250, 0.4);
}
.about-img {
}

/* accordion */

.container-second {
  margin-bottom: 32px;
}
.container-second .ac .about-ac-header {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250);
}
.container-second {
  border-top: 1px solid rgba(250, 250, 250, 0.2);
}
.container-second .ac .ac-trigger::after {
  content: '';
}
.container-second .ac.is-active > .ac-header .ac-trigger::after {
  content: '';
}
.container-second .ac .ac-trigger {
  color: #fafafa;
  display: flex;
  justify-content: space-between;
  padding: 0;
  background-color: #1c1d20;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
}
.container-second .ac {
  margin: 0;
  padding: 20px 0;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}
@media (min-width: 768px) {
  .container-second .ac {
    padding: 32px 0;
  }
}
.ac-icon {
  border: 1px solid #494949;
  border-radius: 50%;
  padding: 7px;
  min-width: 34px;
  height: 34px;
  rotate: 180deg;
  transition: rotate 250ms ease-in-out;
}
@media (min-width: 768px) {
  .ac-icon {
    margin-left: 90px;
    min-width: 40px;
    height: 40px;
  }
}
.is-active .ac-trigger .ac-icon {
  rotate: 0deg;
}
.container-second .ac .ac-panel {
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250);
  font-size: 16px;
}
.container-second .ac .ac-panel .ac-text {
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250);
  font-size: 16px;
}

.about-list-text {
}
.about-ac-text {
  color: #fafafa;
  line-height: 1.5;
  margin-bottom: 16px;
}
.about-skills-list {
  /* display: flex; */
}

.about-skills-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.first-slide {
  background-color: #ed3b44;
}

.swiper-next-btn-about {
  border-radius: 50%;
  padding: 14px;
  /* width: 52px;
  height: 52px; */
  background-color: transparent;
  position: relative;
  top: 9px;
  /* border: 1px solid rgba(250, 250, 250, 0.5); */
}

.swiper-next-btn-about:hover {
  cursor: pointer;
}

.swiper-next-arrow-about {
  stroke: #3b3b3b;
  fill: transparent;
  width: 28px;
  height: 28px;
}

.about-swiper-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.about-skills-list.swiper-wrapper {
  width: 260px;
}

.swiper-slide-active .about-skills-list-item {
  background-color: #ed3b44;
}

div.swiper-about {
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

@media (min-width: 768px) {
  .about-main-text {
    font-size: 38px;
  }

  .about-us-text-box {
    min-height: 700px;
    padding: 64px;
  }

  .about-skills-list-item {
    width: 200px;
    height: 200px;
  }

  .container-second {
    margin-bottom: 64px;
  }
  /* .swiper-next-btn-about {
  width: 40px;
  height: 40px;
} */
  .swiper-next-arrow-about {
    width: 40px;
    height: 40px;
  }

  .about-skills-list.swiper-wrapper {
    width: 600px;
  }
}

@media (min-width: 1440px) {
  .about-wrap {
    align-items: stretch;
    flex-wrap: nowrap;
  }

  .about-wrap > * {
    flex: 0 0 50%;
  }

  .about-us-text-box {
    min-height: unset;
  }

  #about-ac-panel {
    display: flex;
    justify-content: flex-end;
    /* margin-right: 68px; */
  }

  #about-ac-wrap {
    flex: 0 0 50%;
    padding-right: 68px;
  }

  .container-second {
    margin-bottom: 96px;
  }

  .about-skills-list.swiper-wrapper {
    width: 1200px;
  }
}
@media (max-width: 374px) {
  .about-skills-list-item {
    width: 100px;
    height: 100px;
  }

  .about-skills-list.swiper-wrapper {
    width: 200px;
  }
}
