.section-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-left: 0;
  margin-bottom: 32px;
}
.container-first {
  border-top: 1px solid rgba(250, 250, 250, 0.2);
}
.container-first .ac .ac-trigger::after {
  content: '';
}
.container-first .ac.is-active > .ac-header .ac-trigger::after {
  content: '';
}
.container-first .ac .ac-trigger {
  color: #fafafa;
  display: flex;
  justify-content: space-between;
  padding: 0;
  background-color: #1c1d20;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
}
.container-first .ac-first {
  margin: 0;
  padding: 20px 0;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}
@media (min-width: 768px) {
  .container-first .ac-first {
    padding: 32px 0;
  }
}
.ac-icon {
  border: 1px solid #494949;
  border-radius: 50%;
  padding: 7px;
  min-width: 34px;
  height: 34px;
  rotate: 180deg;
  transition: rotate 250ms ease-in-out;
}
@media (min-width: 768px) {
  .ac-icon {
    margin-left: 90px;
    min-width: 40px;
    height: 40px;
  }
}
.is-active .ac-trigger .ac-icon {
  rotate: 0deg;
}
.container-first .ac .ac-panel {
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  font-size: 16px;
}
.container-first .ac .ac-panel .ac-text {
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  font-size: 16px;
}
@media (min-width: 1440px) {
  .container-first {
    display: flex;
    flex-wrap: wrap;
  }
  .container-first .ac-first {
    width: 50%;
  }
  .container-first .column {
    padding-right: 32px;
    border-right: 1px solid #494949;
  }
  .container-first .column2 {
    padding-left: 32px;
  }
}
