.header-div {
  position: absolute;
  width: 100%;
  padding-top: 32px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .header-container {
    gap: 150px;
  }
}
@media (min-width: 1440px) {
  .header-container {
    gap: 487px;
  }
}
.logo-sign {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  letter-spacing: -0.02em;
  text-align: left;
}
.logo-div {
  display: flex;
  align-items: start;
  gap: 8px;
}
.header-pic {
  display: flex;
  width: 80px;
  height: 80px;
}
.header-menu {
  display: none;
}
@media (min-width: 768px) {
  .header-menu {
    position: absolute;
    left: calc(50% - 28px);
    top: 100px;
    display: block;
    color: #fafafa;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    pointer-events: auto;
  }
  .header-menu.header-hidden {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0ms ease-in-out;
  }
}
.header-menubtn {
  display: none;
}
@media (min-width: 768px) {
  .header-menubtn {
    display: inline;
    width: 60px;
    height: 40px;
    background-color: transparent;
    text-decoration: underline;
    font-size: 16px;
    color: #fafafa;
    padding: 10px;
  }
}
.header-menu-list {
  text-align: center;
}
.header-menulist-item:hover {
  color: #ed3b44;
  text-decoration: underline;
}
.logo-sign {
  color: #fafafa;
  height: 20px;
  width: 84px;
  letter-spacing: 0.15vh;
}
.header-order-button {
  display: none;
}
@media (min-width: 768px) {
  .header-order-button {
    display: inline;
    box-sizing: border-box;
    height: 55px;
    padding: 18px 24px;
    border-radius: 60px;
    background-color: #ed3b44;
    color: #fafafa;
    font-size: 16px;
    scale: 1;
    transition: background-color 250ms ease-in-out, scale 250ms ease-in-out;
  }
  .header-order-button:hover {
    background-color: #e0373f;
    scale: 1.05;
  }
}
.header-mob-order-button {
  display: inline;
  box-sizing: border-box;
  height: 55px;
  padding: 18px 24px;
  border-radius: 60px;
  background-color: #ed3b44;
  color: #fafafa;
  font-size: 16px;
  transition: background-color 250ms ease-in-out;
}
.header-mob-order-button:hover {
  background-color: #e0373f;
}
.header-mob-menubtn {
  display: inline;
}
@media (min-width: 768px) {
  .header-mob-menubtn {
    display: none;
  }
}
.header-close-icon {
  position: absolute;
  top: 32px;
  right: 16px;
}
.header-mob-menu {
  z-index: 100;
  list-style: none;
  color: #fafafa;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1d20;
  background-image: url(../img/header/header-mobmenu-background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 64px;
  padding-bottom: 64px;
  transform: translate(0, 0);
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
}
.header-mob-menu.header-mob-hidden {
  transform: translate(100%, 0);
  pointer-events: none;
  opacity: 0;
}
.header-mobmenu-list {
  text-decoration: underline;
  margin-bottom: auto;
  margin-top: auto;
}
.header-mobmenu-listitem {
  padding-bottom: 12px;
  text-align: center;
}
@media (min-width: 768px) {
  .header-mob-menu {
    display: none;
  }
}
