.header-div {
  position: absolute;
  width: 100%;
  padding-top: 32px;
}
.header-container {
  display: flex;
  justify-content: center;
  gap: 143px;
}
@media (min-width: 768px) {
  .header-container {
    gap: 150px;
  }
}
@media (min-width: 1440px) {
  .header-container {
    gap: 487px;
  }
}
.logo-div {
  display: flex;
  align-items: start;
  gap: 8px;
  background-color: grey;
}
.header-pic {
  display: flex;
  width: 80px;
  height: 80px;
}
.header-menu {
  display: none;
}
@media (min-width: 768px) {
  .header-menu {
    display: block;
    color: #fafafa;
  }
}
.header-menubtn {
  display: none;
}
@media (min-width: 768px) {
  .header-menubtn {
    display: inline;
    width: 60px;
    height: 40px;
    background-color: transparent;
    text-decoration: underline;
    font-size: 16px;
    color: #fafafa;
    padding: 10px;
    background-color: grey;
  }
}
.logo-sign {
  color: #fafafa;
  height: 20px;
  width: 84px;
  letter-spacing: 0.15vh;
  background-color: red;
}
.header-order-button {
  display: none;
}
@media (min-width: 768px) {
  .header-order-button {
    display: inline;
    box-sizing: border-box;
    height: 55px;
    padding: 18px 24px;
    border-radius: 60px;
    background-color: #ed3b44;
    color: #fafafa;
    font-size: 16px;
  }
}
.header-mob-order-button {
  display: inline;
  box-sizing: border-box;
  height: 55px;
  padding: 18px 24px;
  border-radius: 60px;
  background-color: #ed3b44;
  color: #fafafa;
  font-size: 16px;
}
.header-mob-menubtn {
  display: inline;
}
@media (min-width: 768px) {
  .header-mob-menubtn {
    display: none;
  }
}
.header-close-icon {
  position: absolute;
  top: 32px;
  right: 16px;
}
.header-mob-menu {
  z-index: 100;
  list-style: none;
  text-decoration: underline;
  color: #fafafa;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 81%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1d20;
  background-image: url(../img/header/header-mobmenu-background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 64px;
  padding-bottom: 64px;
  overflow-y: auto;
}
.header-mobmenu-list {
  margin-bottom: auto;
  margin-top: auto;
}
.header-mobmenu-listitem {
  padding-bottom: 12px;
}
@media (min-width: 768px) {
  .header-mob-menu {
    display: none;
  }
}
.header-hidden {
  display: none;
}
